  
html, body, div, form, fieldset, legend, label { margin: 0; padding: 0;  }
table { border-collapse: collapse; border-spacing: 0; }
th, td { text-align: left; vertical-align: top; }
h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }
img { border: 0; }

html {
    font-size: 16px;
    line-height: 1.5;
    background: rgb(15, 15, 16);
    color: rgb(235, 235, 236);
    font-family: "Helvetica", "Avenir Next", Avenir, "Helvetica Neue";
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 6fr 4fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas:
    ". header header ."
    ". intro icons ."
    ". form poster poster"
    "footer footer footer footer";
}

input, 
label {
    color: white;
    
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". p p ."
}

.icons {
    grid-area: icons;
    top: 69px;
    position: relative;
    text-align: center;
}

.form {
    grid-area: form;
    z-index: 1;
    
}

.input-field {
    background-color: rgb(15, 15, 16);
    color: rgb(235, 235, 236);
}

.inherit {
    background: inherit;
}

.button {
    border-radius: 5px;
    border: solid 1px rgba(240, 239, 239, 0.507);
    /* top: 5%; */
}

.z {
    z-index: 1;
    color: white;
}

.validate {
    color: rgb(235, 235, 236);
    text-align: start;
    
}

#title {
    grid-area: header;
    font-size: 6.5rem;
    font-weight: 700;
    line-height: 0.8;
    font-family: 'Special Elite', cursive;
}

#intro {
    grid-area: intro;
    align-self: end;
    font-size: 3rem;
    line-height: 1.4;
}

#iconHeader {
    align-self: center top;
    text-align: center;
    grid-area: icons;
}

#moviePosterDiv {
    background: inherit;
    grid-area: poster;
    position: relative;
    overflow: hidden; 
    text-align: center;
}

.onStream {
    background-color: green;
}


@media only screen and (max-width: 834px) {
    html {
        font-size: 14px;
    }

    body {
        display: grid;
        grid-template-columns: 1fr 11fr;
        grid-template-rows: 1fr 1fr auto;
        grid-template-areas:
        "header header"
        "intro intro"
        "form form"
        "poster poster"
        "icons icons"
        "footer footer";
    }

    #title {
        font-size: 5rem;
        text-align: center;
    }

    #intro {
        text-align: center;
        font-size: 2rem;
    }

    #genreDiv {
        align-self: center;
        margin-left: 10px;
        width: 94%;
    }
    
    
    #moviePosterDiv,
    .moviePosters {
        width: 100%;
    }

    #genreSelection,
    #genreDropDown {
        text-align: center;
        align-items: center;
    }

    #info,
    #subTitle {
        text-align: center;
    }

    .icons {
        /* width: 100%; */
        
    }

    #submit {
        align-self: flex-start;
        
    }
}

@media only screen and (max-width: 736px) {s
    html {
        font-size: 12px;
    }
}